/* media queries */
@media (max-width: 550px) {
  .navlinks {
    display: none;
  }
  .thirdP {
    font-size: 9px !important;
  }
  .secH {
    font-size: 20px;
  }
  .bannerImg {
    margin-left: 90px;
  }
  .menuImg {
    margin-left: 17px !important;
  }
  .resicons {
    display: block !important;
  }
}

@media (max-width: 770px) {
  .xmarkActiveres {
    width: 28px;
    padding-right: 4px;
    margin-right: 5px;
  }
  .collectionLg {
    display: none;
  }
  .collectionRes {
    display: block !important;
  }
}

 
@media (max-width: 525px) {
  .formWarpMain {
    margin-right: 10px;
    margin-left: 10px;
    height: 75vh !important;
  }
  .formInpt {
    width: 290px !important;
  }
  .formimgPre {
    height: 45px !important;
    width: 45px !important;
    right: 13px !important;
  }
  .formStaticImg {
    width: 21px;
  }
}
/* key frames */

@keyframes bannerImgAnimation {
  0% {
    margin-right: 300px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes bannerTxt {
  0% {
    margin-left: 200px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes col-left {
  0% {
    margin-right: 200px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes right-one {
  0% {
    margin-left: 100px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes rightthree {
  0% {
    margin-top: 100px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes collrespicOne {
  0% {
    opacity: 0;
    margin-right: 200px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@keyframes collrespicTwo {
  0% {
    opacity: 0;
    margin-left: 200px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes collrespicThree {
  0% {
    opacity: 0;
    margin-right: 200px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

/* //////////////////////////// */
.collectionRes {
  display: none;
}
.resicons {
  display: none;
}
.searchicn {
  width: 30px;
}
.carticn {
  width: 33px;
}
.usericn {
  width: 30px;
}
.menuImg {
  width: 36px;
  margin-left: 38px;
}

.BGmain {
  width: 100%;
  height: 250px;
  background-image: url("/public/images/banner/blog_title_bg.jpg");
}

.searchInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(141, 138, 138);
  padding-top: 7px;
  padding-bottom: 7px;
}
.searchActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
  padding-bottom: 20px;
  padding-top: 20px;
}
.searchInActive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 500ms ease;
}
.dash {
  height: 2px;
  width: 30px;
  background-color: rgb(152, 7, 7);
  margin-top: 12px;
  margin-right: 10px;
  font-family: "Jost", sans-serif;
}
.bannerImg {
  width: 272px;
  animation: bannerImgAnimation 2s ease;
}

.BannerleftMain {
  animation: bannerTxt 1s ease;
}

.collection_left {
  height: 330px;
  width: 60%;
  background-image: url("/public/images/collections/women.jpg");
  background-size: cover;
  animation: col-left 2s ease;
}
.rightOne {
  height: 170px;
  width: 83%;
  background-image: url("/public/images/collections/banner_2.jpg");
  background-size: cover;
  animation: right-one 2s ease;
}
.rightTwo {
  height: 157px;
  width: 41%;
  background-image: url("/public/images/collections/collection_grid_3.jpg");
  background-size: cover;
}
.rightThree {
  height: 157px;
  width: 41%;
  background-image: url("/public/images/collections/blog-1.jpg");
  background-size: cover;
}
.rightAnim {
  animation: rightthree 2s ease;
}

.searchInput:focus-visible,
.searchInput:focus {
  outline: none;
  border-color: transparent;
}

.xmarkimg {
  width: 32px;
}

.xmarkActive {
  opacity: 1;
  visibility: visible;
  transform: translateX(15px);
  transition: 500ms ease;
}
.xmarkInactive {
  opacity: 1;
  visibility: hidden;
  transform: translateX(0);
  transition: 500ms ease;
}
.resCollectOne {
  height: 100px;
  width: 100%;
  background-image: url("/public/images/collections/stripOne.jpg");
  background-size: cover;
  animation: collrespicOne 2s ease;
}
.resCollectTwo {
  height: 100px;
  width: 100%;
  background-image: url("/public/images/collections/stripeTwo.jpg");
  background-size: cover;
  animation: collrespicTwo 2s ease;
}
.resCollectthree {
  height: 100px;
  width: 100%;
  background-image: url("/public/images/collections/stripeThree.jpg");
  background-size: cover;
  animation: collrespicThree 2s ease;
}
.strip {
  height: 50px;
  width: 100%;
  background-color: rgb(88, 87, 87);
  display: flex;
  align-items: center;
}
.color {
  color: rgb(152, 7, 7);
}
 
 
.colorGray {
  color: rgb(97, 96, 96);
}

.cardimg {
  height: 321px;
  width: 270px;
  background-size: cover;
  background-position: unset;
  border: 1px solid rgb(224, 224, 224);
 }
.addCartBtn {
  background-color: white;
  border: none;
  padding: 0px;
  width: 205px;
  visibility: hidden;
  transition: 500ms ease;
  opacity: 0;
}
.cardDiv:hover .addCartBtn {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0px;
  width: 205px;
  visibility: visible;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  transition: 500ms ease;
  opacity: 1;
}
.txt {
  font-family: "jost", "san-serif";
}
.formBg {
  height: 100vh;
  width: 100%;
  background-image: url("/public/images/bgs/formBg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formWarpMain {
  height: 60vh;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
}

.formInpt {
  width: 359px;
  padding-top: 12px;
  padding-bottom: 10px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 2px;
  color: white;
}
.formInpt:focus-visible,
.formInpt:focus {
  outline: none;
  /* border-color: transparent; */
}
.formSubmit {
  background: white;
  border: none;
  width: 100%;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 7px;
}

.formimgPre {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid white;
  right: 29px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgMainDiv {
  width: 310px;
  height: 100%;
 }
 
.imgPre{
  height: 65px;
  width: 65px;
}
.imgPreActive{
  border: 1px solid rgb(117, 6, 6);
}
.quantity{
  height: 40px;
  width: 120px;
  border : 1px solid black
}
.addBtn{
  height: 40px;
  width: 120px;
background-color: black;
color: white;
border: none;
}
.quantityInpt{
  width: 23px;
  border: none;
}
.linkBlack{
  color: black;
  text-decoration: none;
}
.inptDiv{
  position: relative;
}
.label{
  position: absolute;
   left: 14px;
  top: 11px;
  transition: 0.3s;
}

.formInpt:focus + .label {
  transform: translateY(-22px);
  background-color: white;
  padding-right: 6px;
  padding-left: 6px;
  color: black!important;
  font-size: 12px;
}

 .formInpt:focus + .label,
.formInpt:not(:placeholder-shown) + .label {
  transform: translateY(-22px);
  background-color: white;
  padding-right: 6px;
  padding-left: 6px;
  color: black!important;
  font-size: 12px;
}


