/* media queries */
@media (max-width: 550px) {
  .navlinks {
    display: none;
  }
  .thirdP {
    font-size: 9px !important;
  }
  .secH {
    font-size: 20px;
  }
  .bannerImg {
    margin-left: 90px;
  }
  .menuImg {
    margin-left: 17px !important;
  }
  .resicons {
    display: block !important;
  }
}

@media (max-width: 770px) {
  .xmarkActiveres {
    width: 28px;
    padding-right: 4px;
    margin-right: 5px;
  }
  .collectionLg {
    display: none;
  }
  .collectionRes {
    display: block !important;
  }
}

@media (max-width: 950px) {
  .offcanvasMainActive {
    height: 200px;
    width: 170px !important;
    border: 1px solid rgb(124, 122, 122);
    background-color: white;
    position: absolute;
    right: 1px;
    z-index: 1;
    visibility: visible;
  }
}

/* key frames */

@keyframes bannerImgAnimation {
  0% {
    margin-right: 300px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes bannerTxt {
  0% {
    margin-left: 200px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes col-left {
  0% {
    margin-right: 200px;
    opacity: 0;
  }

  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes right-one {
  0% {
    margin-left: 100px;
    opacity: 0;
  }

  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes rightthree {
  0% {
    margin-top: 100px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes collrespicOne {
  0% {
    opacity: 0;
    margin-right: 200px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@keyframes collrespicTwo {
  0% {
    opacity: 0;
    margin-left: 200px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes collrespicThree {
  0% {
    opacity: 0;
    margin-right: 200px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

/* //////////////////////////// */
.collectionRes {
  display: none;
}
.resicons {
  display: none;
}
.searchicn {
  width: 30px;
}
.carticn {
  width: 33px;
}
.usericn {
  width: 30px;
}
.menuImg {
  width: 36px;
  margin-left: 38px;
}

.BGmain {
  width: 100%;
  height: 250px;
  background-image: url("/public/images/banner/blog_title_bg.jpg");
}

.searchInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(141, 138, 138);
  padding-top: 7px;
  padding-bottom: 7px;
}
.searchActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
  padding-bottom: 20px;
  padding-top: 20px;
}
.searchInActive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 500ms ease;
}
.dash {
  height: 2px;
  width: 30px;
  background-color: rgb(152, 7, 7);
  margin-top: 12px;
  margin-right: 10px;
  font-family: "Jost", sans-serif;
}
.bannerImg {
  width: 272px;
  animation: bannerImgAnimation 2s ease;
}

.BannerleftMain {
  animation: bannerTxt 1s ease;
}

.collection_left {
  height: 330px;
  width: 60%;
  background-image: url("/public/images/collections/women.jpg");
  background-size: cover;
  animation: col-left 2s ease;
}
.rightOne {
  height: 170px;
  width: 83%;
  background-image: url("/public/images/collections/banner_2.jpg");
  background-size: cover;
  animation: right-one 2s ease;
}
.rightTwo {
  height: 157px;
  width: 41%;
  background-image: url("/public/images/collections/collection_grid_3.jpg");
  background-size: cover;
}
.rightThree {
  height: 157px;
  width: 41%;
  background-image: url("/public/images/collections/blog-1.jpg");
  background-size: cover;
}
.rightAnim {
  animation: rightthree 2s ease;
}

.searchInput:focus-visible,
.searchInput:focus {
  outline: none;
  border-color: transparent;
}

.xmarkimg {
  width: 32px;
}

.xmarkActive {
  opacity: 1;
  visibility: visible;
  transform: translateX(15px);
  transition: 500ms ease;
}
.xmarkInactive {
  opacity: 1;
  visibility: hidden;
  transform: translateX(0);
  transition: 500ms ease;
}
.resCollectOne {
  height: 100px;
  width: 100%;
  background-image: url("/public/images/collections/stripOne.jpg");
  background-size: cover;
  animation: collrespicOne 2s ease;
}
.resCollectTwo {
  height: 100px;
  width: 100%;
  background-image: url("/public/images/collections/stripeTwo.jpg");
  background-size: cover;
  animation: collrespicTwo 2s ease;
}
.resCollectthree {
  height: 100px;
  width: 100%;
  background-image: url("/public/images/collections/stripeThree.jpg");
  background-size: cover;
  animation: collrespicThree 2s ease;
}
.strip {
  height: 50px;
  width: 100%;
  background-color: rgb(88, 87, 87);
  display: flex;
  align-items: center;
}
.color {
  color: rgb(152, 7, 7);
}
.offcanvasMainActive {
  height: 350px;
  width: 190px;
  border: 1px solid rgb(234, 232, 232);
  background-color: white;
  position: absolute;
  right: 1px;
  z-index: 1;
  visibility: visible;
  transition: 500ms ease;
  transform: translateY(0);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.offcanvasMainInactive {
  height: 350px;
  width: 190px;
  background-color: white;
  position: absolute;
  right: 1px;
  z-index: 1;
  visibility: hidden;
  transition: 500ms ease;
  transform: translateY(35px);
  opacity: 0;
}
.colorGray {
  color: rgb(97, 96, 96);
}

.cardimg {
  height: 321px;
  width: 270px;
  background-image: url("/public/images/product/product_0.jpg");
  background-size: cover;
  background-position: center;
}
.addCartBtn {
  background-color: white;
  border: none;
  padding: 0px;
  width: 205px;
visibility: hidden
;  transition: 500ms ease;
  opacity: 0;
}
.cardDiv:hover .addCartBtn {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0px;
  width: 205px;
visibility: visible;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  transition: 500ms ease;
  opacity: 1;
}
.txt{
  font-family: 'jost','san-serif';
}